<title>Camps</title>
<% layout('layouts/boilerplate');%>
<link crossorigin="anonymous" href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
<script crossorigin="anonymous" src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
<div class="row justify-content-center">
  <div id="map" class="cluster-map"></div>
      <h5 class="text-center cluster-heading muted">Locate on map</h5>
</div>
<% campgrounds.forEach(camp => { %>
  <div class="card front-full col p-0" style="min-width: 20rem; max-width: 20rem; margin: 10px auto;">
    <% if (camp.image) { %>
      <img style="height: 250px;" crossorigin="anonymous" src="<%= camp.image[0].thumbnail %>" class="card-img-top" href="viewcamps/campdetails/<%= camp._id  %>" >
    <% } else { %>
        <div class="card-img-top" style="background-color: white;"></div>
    <% } %>
    <div class="card-body front">
        <h5 class="card-title"><a class="btn camp-link" href="viewcamps/campdetails/<%= camp._id  %>"><%= camp.title %></a></h5>
      </div>
  </div>    
<% }) %>
<script>
   const mapBoxToken = '<%- process.env.MAPBOX_ACCESS_TOKEN %>'
   const campgroundData = '<%- JSON.stringify(campgrounds) %>'
</script>
<script  crossorigin="anonymous" src="/clusterMap.js"></script>

