<title>Camp Details</title>
<%  layout('layouts/boilerplate');%>
<link crossorigin="anonymous" href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
<link crossorigin="anonymous" href="/styles/general.css" rel="stylesheet">
<script crossorigin="anonymous" src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
<script>
    const mapBoxToken = '<%- process.env.MAPBOX_ACCESS_TOKEN %>';
    const campgroundPoints = '<%- JSON.stringify(campground.geometry.coordinates) %>';
    const campgroundName = '<%- JSON.stringify(campground.title) %>';

</script>
<div class="row justify-content-center">
    <div class="col-sm-4 justify-content-center">
      <div class="card m-auto p-0">
          <div id="imageCarousel" class="carousel slide" >
            <div class="carousel-inner" >
              <% campground.image.forEach(image => { %>
              <div class="carousel-item active">
                <img crossorigin="anonymous" src="<%= image.url %>" class="d-block w-100 mh-95" style="height: 280px;" alt="<%= campground.title %>">
              </div>
              <% }) %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= campground.location %></li>
          <li class="list-group-item">$ <%= campground.price %></li>
          <li class="list-group-item">By <%= campground.author.username %></li>
        </ul>
        <div class="card-body">
            <% if (currentUser && currentUser._id.equals(campground.author._id)) { %>
              <a class="btn btn-info" href="/editcamp/<%= campground._id  %>" role="button">Edit</a>
              <form action="/deletecamp/<%= campground._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger" >Delete</button>
              </form>
            <% } %>
          <a class="btn btn-light" href="/viewcamps" role="button">Back</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 justify-content-center">
      <div id="map" style="height: 250px;" ></div>
      <label for="map">Locate on map</label>
     <% if (currentUser) { %>
        <form class="needs-validation" action="<%= campground._id%>/review" method="POST" novalidate>
             <fieldset class="starability-basic">
              <legend style="font-weight: 500;">Rate!</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <div class="mb-3 mt-2">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" id="description" rows="3" name="reviewDescp" required></textarea>
            </div>
            <button class="btn btn-success">Add Review</button>

            
         </form>
     <% } %>
     <div>
      <%  campground.review.forEach((review) => { %>
                <div class="card mt-2 mb-2">
                    <h6 class="card-header"><p class="text-muted">By <%= review.author.username %></p></h6>
                    <div class="card-body">
                      <h5 class="card-title">
                        <p class="starability-result" data-rating="<%= review.rating %>">
                        Rated: <%= review.rating %> stars
                        </p> 
                      </h5>
                      <p class="card-text"></p><%= review.reviewDescp %></p>
                      <% if (currentUser && currentUser._id.equals(review.author._id)) { %>
                        <form action="/deletereview/<%= review._id %>?_method=DELETE" method="POST" style="display: inline;">
                          <button class="btn btn-danger" >Remove</button>
                        </form>
                      <% } %>
                    </div>
                </div>
      <% })%>
    </div>
  </div>
</div>
</div>
<script src="/showMap.js">
</script>
