<title>Edit Camp</title>
<% layout('layouts/boilerplate');%>

<div style="max-width: 400px;  margin: auto;">
   
        <form class="needs-validation form" action="/updatecamp/<%= campground.id %>?_method=PUT"  enctype="multipart/form-data" method="POST" novalidate>
          <h3>Edit Camp!</h3>
          <div class="mb-3">
                 <label for="title" class="form-label" name="title" >Title</label>
                 <input type="text" class="form-control" id="title" name="title"  required style="border: 1px solid rgb(81, 80, 80);" value="<%= campground.title %>">
                 <div class="valid-feedback">
                   Looks good!
                 </div>
               </div>
               <div class="mb-3">
                 <label for="location" class="form-label" name="location">Location</label>
                 <input type="text" class="form-control" id="location" name="location" required style="border: 1px solid rgb(81, 80, 80);" value="<%= campground.location %>">
                 <div class="valid-feedback">
                   Looks good!
                 </div>
               </div>
               <label for="price" class="form-label" name="price">Price</label>
               <div class="input-group mb-3">
                   <span class="input-group-text" id="basic-addon1"><span>&#8377;</span></span>
                   <input type="number" class="form-control" id="price" name="price" min="0" max="500" required style="border: 1px solid rgb(81, 80, 80)" value="<%= campground.price %>">
                   <div class="valid-feedback">
                     Looks good!
                   </div>
                   <div class="invalid-feedback">
                       Price must be between 0 and 500
                   </div>
               </div>
               <div class="mb-3">
                   <label for="description" name="description" class="form-label">Description</label>
                   <textarea type="text-area" id="description" name="description" class="form-control" required style="border: 1px solid rgb(81, 80, 80);"><%= campground.description %></textarea>
                   <div class="valid-feedback">
                     Looks good!
                   </div>
               </div>
               <div class="mb-3">
                <label for="image" name="image" class="form-label">Add Image(s)</label>
                <input type="file" name="image" multiple />
                <div class="valid-feedback">
                  Looks good!
                </div>
               </div>
               <div class="mb-3">
              <p class="form-label">Delete Images</p>
                <% campground.image.forEach(image => { %>
                  <div class="form-check position-relative d-inline m-1" style="max-width : 120px ; height: 120px;">
                     <label class="form-check-label" for="<%= image.imgName %>">
                      <img src="<%= image.thumbnail %>" class="mb-2 w-100 mh-95" style="max-width : 120px ; height: 120px;" alt="<%= campground.title %>">
                     </label>
                    <span class="position-absolute top-30 start-100 translate-middle badge">
                      <input name="imageSelect[]" class="form-check-input" type="checkbox" value="<%= image.imgName %>" id="<%= image.imgName %>" style="width: 18px ; height:18px ;">
                    </span>
                  </div>
                  <% }) %>
               </div>
               <div class="d-grid" style="display: block;">
                 <button  type="submit" class="btn btn-outline-success">Update</button>
               </div>
              <a href="/viewcamps/campdetails/<%= campground.id %>" class="btn btn-outline-danger mt-2" style="display: block;">Cancel</a>
           </form>
</div>