<title>Camps</title>
<% layout('layouts/boilerplate');%>
<link crossorigin="anonymous" href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
<script crossorigin="anonymous" src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
<div id="map" style="height: 300px; width: 100vw;"></div>
      <% for( let camp of campgrounds ) { %>
            <div class="card col p-0" style="min-width: 20rem; max-width: 20rem; margin: 10px auto;">
                <img crossorigin="anonymous" src="<%= camp.image[0].url %>" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title"><a href="viewcamps/campdetails/<%= camp._id  %>"><%= camp.title %></a></h5>
                  <p class="card-text"><%= camp.description %></p>
                </div>
            </div>    
       <% } %>
<script>
   const mapBoxToken = '<%- process.env.MAPBOX_ACCESS_TOKEN %>'
   const campgroundData = '<%- JSON.stringify(campgrounds) %>'
</script>
<script  crossorigin="anonymous" src="/clusterMap.js"></script>
